@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,700&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap");
* {
    font-family: "Open Sans", sans-serif;
}

body {
    background-image: url(../../images/homepage\ bg.jpg);
    background-size: cover;
}

.hidden {
    display: none;
}


.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.loading-container {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    height: 50%;
}

.loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loading {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    font-size: 64px;
}

.active {
    transform: scale(1.1);
    color: red;
    
}