.background {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.payment-container {
    background-color: white;
    border-radius: 20px;
    width: 60%;
    height: 50%;
}

.payment-container h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px;
    font-size: 28px;
    font-weight: 700;
    font-style: italic;
}

.opt-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 5em;
    padding: 2em 8em;
}

.opt-wrapper a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.opt-wrapper button {
    padding: 32px 64px;
    transition: all 300ms;
}

.opt-wrapper button:hover {
    transform: scale(1.5);
    box-shadow: 5px 10px 8px grey;
}

.cash {
    background-color: #00A878;
    border: #02976d 5px solid;
    border-radius: 20px;
    
}

.credit {
    background-color: #006DAA;
    border: #015b90 5px solid;
    border-radius: 20px;
    /* height: 5em; */
}


