
#content-desktop {display: block;}
#content-mobile {display: none;}


/* Bordered form */
form {
  border: 3px solid #00000070;
  width: 20%;
  margin: auto;
  background-color: #00000070;
  color: white
}

h1 {
  padding: 60px;
  text-align: center;
  background: #00000070;
  color: orange;
  font-size: 30px;
}

body {
  background-image: url("https://static01.nyt.com/images/2017/05/11/t-magazine/bookstore-slide-2MCD/bookstore-slide-2MCD-superJumbo.jpg?quality=75&auto=webp");
  background-size: cover;
  background-attachment: fixed;
  margin: auto;
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 90%;
  padding: 10px 20px;
  margin: 8px 0;
  margin-left: 8px;
  display: inline-block;
  border: 3px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
button {
  background-color: #FF8000;
  color: white;
  position: Center;
  padding: 14px 20px;
  margin: 8px 0;
  margin-left: 8px;
  border: none;
  cursor: pointer;
  width: 90%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.5;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #FF8000;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}
@media screen and (max-width: 768px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
  h1 {
    padding: 20px;
    text-align: center;
    background: #00000070;
    color: orange;
    font-size: 30px;
  }
  form {
    border: 3px solid #00000070;
    width: 80%;
    position: Center;
    background-color: #00000070;
    color: white
  }
#content-desktop {display: none;}
#content-mobile {display: block;}

}
