/* This is a font style I ripped off, Only temporary we can change this later */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,700&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap');
@import "styles.css";

* { /* The star refers to all items in the html file */
    font-family: 'Open Sans', sans-serif;
}

body {
  background-image: url("https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-attachment: fixed;
}

.profile-title {
  font-size: 40px;
  justify-content: center;
  padding: 75px 24px;
  display: flex;
  color: #084B8A;
}

.home h2 {
    font-size: 24px;
    color: Orange;
}
h3 {
  color: white;
  font-weight: 800;
  text-shadow: 2px 2px #ff7900;
  padding-left: 100px;
  font-size: 40px;
  text-align: center;
}

.home p {
  color: darkblue; /*Also takes hex codes instead of words*/
  border: 10px;
  margin: 50px;
  padding: 15px 30px;
}

/* Creates a card object. */
.card {
  background-color: white;
  width: 320px;
  height: 140px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 10px 5px;
  padding: 4px;
}

/* Organizes the cards into rows. */
.three-cards {
  display: flex;
  flex-direction: row;
  padding: 20px 60px 20px 100px;
  background-color:rgb(245, 245, 245, 0.85);
}

/* Used to resize the icons inside of the cards. */
.icon-image {
  width: 100px;
  height: 100px;
  padding: 10px 10px 10px 10px;
}

/* Class for cards' heading */
.card-headings h2{
  font-size: 18px;
  text-align: left;
  color: Orange;
  padding-left: 75px;
}

/* Class for formatting an unordered list in a card */
.card-list {
  list-style-type: none;
  font-size: 16px;
  text-align: left;
  padding-bottom: 40px;
}

@media screen and (max-width: 768px){

  .icon-image {
  display:none;
  }
  .three-cards {
    display: flex;
    flex-direction: column;
    padding: none;
    background-color: lightblue;
  }
  .card {
    background-color: white;
    width: 320px;
    height: 140px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 0px;
  }

  .card-headings h2{
    font-size: 12px;
    color: Orange;
    margin-left: 0px;
  }

  .card-list {
    list-style-type: none;
    font-size: 12px;
    text-align: left;
    padding-bottom: 40px;
  }
}
