/* This is a font style I ripped off, Only temporary we can change this later */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,700&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap');

/* How CSS works is that "*" ".class-name" and tags like "h1" are affected with the corresponding {} attributes */
* { /* The star refers to all items in the html file */
    font-family: 'Open Sans', sans-serif;
    list-style: none;
    text-decoration: none;
    color: #FF7900;
}
body {
    margin: 0;
}

nav {
    display: flex;
    justify-content: center;
    background-color: #00274C;
    box-shadow: 0px 4px 20px 1em rgba(0, 0, 0, 0.15);
    position: fixed;
    width: 100%;
    top: 0;
}
nav .action {
    color: #FF7900;
    font-weight: 700;
    border-style: inset;
    border-radius: 10px;
    padding: 8px 16px;
    transition: .25s ease-in-out;
}

nav .action:hover {
    color: #00274C;
    background-color: #FF7900;
    border-style: outset;
}
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1200px;
    padding: 0px 16px;
}
.init h1 {
    font-size: 25px;
}
.nav-right {
    display: grid;
    grid-auto-flow: column;
    gap: 32px;
    font-size: 20px;
    font-weight: 500;
}
/*Feel free to play around with the bottom piece to get a feel for how stuff looks and plays*/
.home {
    
    margin-top: 10%;
}
.home p {
    color: darkblue; /*Also takes hex codes instead of words*/
    border: 10px;
    padding: 15px 30px;
}
.home h2 {
    font-size: 24px;
}