/* This is a font style I ripped off, Only temporary we can change this later */
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,500;1,700&family=Open+Sans&family=Roboto:ital,wght@0,400;1,300&display=swap");

/* How CSS works is that "*" ".class-name" and tags like "h1" are affected with the corresponding {} attributes */
* {
  /* The star refers to all items in the html file */
  font-family: "Open Sans", sans-serif;
  list-style: none;
  text-decoration: none;
  color: #ff7900;
}

body {
  margin: 0;
  background-image: url("https://images.unsplash.com/photo-1512820790803-83ca734da794?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1198&q=80");
  background-size: cover;
  background-attachment: fixed;
}

/* HERO SECtION */
.hero {
  margin: 5vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em 0em;
  color:#ff7900;
  font-weight: 800;
  text-shadow: 2px 2px #084b8a;
  font-size: 72px;
  background-color:rgb(245, 245, 245, 0.85);
  border-radius: 20px;
  width: 8em;
  /* padding-top: 2em;
  color: white;

  text-shadow: 2px 2px #084b8a;
  font-size: 72px; */
}
/* First View */

.category-section {
  margin: 10px;
}

.mix-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(200px, auto);
  margin: 5vh 15vw;
}

.nested {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1em;
}

.nested h3 {
  grid-column-start: 1;
  grid-column-end: 3;
}

.nested p {
  border: black 1px solid;
}

.mix-grid > p,
.mix-grid > div {
  background-color:rgb(245, 245, 245, 0.85);
  border-radius: 20px;
  padding: 1em;
}

/* HOT SECTION */
.list-section {
  margin: 5vh 10vw;
  padding: 25px;
  background-color:rgb(245, 245, 245, 0.85);
  border-radius: 20px;
}

.list-section h2 {
  justify-content: center;
  align-items: center;
  font-weight: 700;
  font-size: 32px;
}

.scroller-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1em;
  grid-auto-rows: minmax(50px, auto);
}

.scroller-grid > p {
  background-color: #f5f5f5;
  padding: 1em;
}

/* MESSAGE DIRECTOR */

.messages {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #ff7900;
  font-size: 34px;
  border: #00274c 5px solid;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.messages a {
  color: #00274c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MESSAGE DIRECTOR */

.messages {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #ff7900;
  font-size: 34px;
  border: #00274c 5px solid;
  border-radius: 50px;
  width: 50px;
  height: 50px;
}

.messages a {
  color: #00274c;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* MESSAGE DIRECTOR */

.messages {
  position: fixed;
  bottom: 1em;
  right: 1em;
  background-color: #ff7900;
  font-size: 34px;
  border: #00274c 5px solid;
  border-radius: 50px;
  width: 50px;
  height: 50px;
  transition: all 300ms;
}

.messages a {
  color: #00274c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.messages:hover {
  transform: scale(1.8);
  box-shadow: 5px 10px grey;
  bottom: 2em;
  right: 2em;
}

@media screen and (max-width: 768px){

}
